  /* ROOT VARIABLES */
  :root {
    --font-primary: 'Roboto', 'Raleway', Arial, sans-serif;
    --dark-primary: #060606;
    --light-primary: #FFFBFD;
    --light-secondary: #edf6f9;
    --blue-primary: #0077b6;
    --navbar-primary: #2E80C2;
    --border-radius: 25px;
    --font-weight-primary: 800;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: var(--font-primary) !important;
  }

  /* GENERAL CSS */

  body {
    background: var(--light-secondary);
    overflow-x: hidden;
  }

  .text-primary {
    color: var(--blue-primary) !important;
  }

  .btn-success {
    padding: 10px;
    font-size: 1rem;
    border-radius: var(--border-radius);
    border: none;
  }

  .btn-success i {
    padding-right: 8px;
  }

  .visually-hidden-focusable {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .visually-hidden-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 1rem;
  }

  /* NAVBAR  */

  .navbar {
    background-color: var(--navbar-primary);
  }

  .navbar-brand img {
    width: 200px;
    height: auto;
  }

  .navbar-nav {
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-link {
    font-size: 18px;
    font-weight: var(--font-weight-primary);
    color: var(--light-primary) !important;
    text-transform: uppercase;
  }

  .nav-link,
  .nav-link-icon {
    font-size: 1rem;
    font-weight: var(--font-weight-primary);
    color: var(--light-primary);
  }

  .navbar .nav-link::before {
    content: "";
    position: relative;
    display: block;
    width: 0px;
    height: 3px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(227, 230, 222);
    transition: 0.3s ease-in-out;
  }

  .navbar .nav-link:hover::before {
    visibility: visible;
    width: 100%;
  }

  .nav-link-icon i {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  .navbar .nav-link-icon::before {
    content: "";
    position: relative;
    display: block;
    width: 0px;
    height: 3px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(227, 230, 222);
    transition: 0.3s ease-in-out;
  }

  .navbar .nav-link-icon:hover::before {
    visibility: visible;
    width: 100%;
  }


  .navbar .nav-link:hover {
    color: var(--light-primary);
  }

  /* HERO SECTION */

  .hero-section {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-text h1,
  h2 {
    font-size: 2.3rem;
    font-weight: var(--font-weight-primary) !important;
    color: var(--blue-primary) !important;
  }

  .hero-text .muted {
    font-size: 1rem;
    color: var(--dark-primary) !important;
  }

  .hero-image img {
    object-fit: cover;
    object-position: 50% 75%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
  }

  /* SERVICES SECTION */

  .service-section {
    position: relative;
    background-image: url('../assets/services01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
  }

  .service-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #FFFBFDbf;
    z-index: 1;
  }

  /* Garante que o conteúdo fique acima do overlay */
  .service-section>* {
    position: relative;
    z-index: 2;
  }

  .service-section h3 {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: var(--font-weight-primary);
    color: var(--dark-primary) !important;
  }

  .service-section h4 {
    margin: 15px 0px;
    font-size: 1.5rem;
    color: var(--blue-primary) !important;
  }



  /* THERAPY SECTION */

  .therapy-section h3 {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: var(--font-weight-primary);
    color: var(--dark-primary) !important;
  }

  .therapy-section .therapy-photo img {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    object-fit: cover;
    border-radius: var(--border-radius);
    max-width: 80%;
  }

  /* BENEFITS SECTION */

  .benefits-section h3 {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: var(--font-weight-primary);
    color: var(--dark-primary) !important;
  }

  .benefits-section h4 {
    font-weight: var(--font-weight-primary);
    color: var(--blue-primary) !important;
  }



  /* ABOUT SECTION */

  .about-section h3 {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: var(--font-weight-primary);
    color: var(--dark-primary) !important;
  }

  .about-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .about-section .about-photo {
    width: 40%;
  }

  .about-section .about-photo .laura-photo {
    border-radius: var(--border-radius);
    width: 100%;
    min-height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    object-fit: cover;
  }



  /* FOOTER STYLES */

  footer .footer {
    background-color: var(--blue-primary);
    color: var(--light-secondary);
    font-size: 1.3rem;
    font-weight: 700;
  }

  .footer p {
    text-align: center;
  }

  footer {
    background-color: var(--light-secondary);
  }

  .map-container {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  footer .footer-list ul {
    list-style-type: none;
  }

  .footer-list .footer-link {
    margin: 15px auto;
    transition: all ease-in-out;
  }

  .footer-list a {
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    font-weight: var(--font-weight-primary);
    color: var(--red-primary);
    display: inline-block;
    transition: font-size 0.25s ease, color 0.25s ease;
  }

  .footer-list a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: var(--red-primary);
    transition: width 0.25s ease;
  }

  .footer-list .footer-link a:hover {
    font-size: 1.08rem;
  }

  .footer-list .footer-link a:hover::after {
    width: 100%;
  }

  footer .copyright {
    background-color: var(--red-primary);
    color: var(--light-primary);
    font-weight: 500;
  }

  .copyright p {
    margin: 0;
    padding: 1rem 0;
  }



  @media only screen and (max-width: 1200px) {

    .hero-section {
      min-height: 40vh;
    }

    .hero-image img {
      width: 300px;
      height: 300px;
    }

    .hero-text h1,
    h2 {
      font-size: 2rem;
    }

    .hero-text .muted {
      font-size: 1.8rem;
    }

    .about-section {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

  }

  @media only screen and (max-width: 992px) {

    .hero-text h1,
    h2 {
      font-size: 1.5rem;
    }

    .hero-text .muted {
      font-size: 1rem;
    }

    .faq-section h3 {
      font-size: 1.5rem;
    }

    .benefits-section h3 {
      font-size: 1.5rem;
    }

    .therapy-section .therapy-photo img {
      max-width: 100%;
    }

  }


  @media only screen and (max-width: 768px) {


    .hero-section {
      min-height: 40vh;
    }

    .hero-section::before {
      height: 500px;
    }

    .hero-text .btn-success {
      font-size: 1rem;
    }

    .hero-image img {
      width: 250px;
      height: 250px;
    }

    .service-section h4 {
      font-size: 1rem;
    }

    .service-section h3 {
      font-size: 1.5rem;
    }

    .service-section p {
      font-size: 0.8rem;
    }

    .therapy-section {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .therapy-section h3 {
      font-size: 1.5rem;
    }

    .therapy-section p {
      font-size: 1rem;
    }

    .benefits-section h3 {
      font-size: 1.5rem;
    }

    .about-section {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .about-section h3 {
      font-size: 1.5rem;
    }

    .about-section .about-photo {
      width: 40%;
      margin-top: 1rem;
    }

  }

  @media only screen and (max-width: 576px) {

    .hero-section {
      min-height: 60vh;
    }

    .hero-text h1 {
      font-size: 1.5rem;
    }

    .hero-section::before {
      height: 500px;
    }

    .hero-image img {
      margin: 2rem auto;
    }

    .hero-text .btn-success {
      padding: 8px;
      font-size: 0.8rem;
    }

    .benefits-section h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .about-section {
      padding-top: 0.5rem;
    }


    .about-section .about-photo {
      margin: 2rem auto;
      width: 80%;
    }


  }

  @media only screen and (max-width: 420px) {

    .hero-section {
      min-height: 60vh;
    }

    .hero-text h1 {
      font-size: 1.5rem;
    }

    .service-section h4 {
      font-size: 1.5rem;
    }



  }

  @media only screen and (max-width: 375px) {

    .hero-section {
      min-height: 40vh;
    }

    .hero-text h1 {
      font-size: 1.5rem;
    }

    .hero-image img {
      margin: 1rem auto;
      width: 180px;
      height: 180px;
    }

    .benefits-section h4 {
      font-size: 1.2rem;
    }

  }